
.panel-char {
	max-width: 230px;
	margin-right: 5px;
}

.panel-char .panel-heading {
	padding-top: 2px;
	padding-bottom: 0px;
}

.panel-char .panel-body {
	padding-top: 10px;
	padding-bottom: 10px;
}

.char-basic>div>table>tbody>tr>th, 
.char-basic>div>table>tbody>tr>td  {
	padding: 4px;
}

.char-basic th {
	padding-right: 10px;
	padding-left: 10px;
}



