/* combat stats */
.card.char > table.combat-stats {
	border-radius: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
	margin: 0px;
}

.card.char > table.combat-stats th{
	padding-top: 4px;
	padding-bottom: 4px;
}
.card.char > table.combat-stats td{
	padding: 2px;
}

.card.char > table.combat-stats td .label{
	padding: 3px;
	width: 100%;
	text-align: center;
}

