#main-grid {
	min-width: 1000px;
}

#left-panel {
	min-width: 280px;
	padding-top: 25px;
	margin-left: 10px;
}


#central-panel {
	padding-top: 25px;
	min-width: 700px;
}

/*
	margin-left: 250px;
	min-width: 740px;
	max-width: 740px;
*/