#navbar {
	margin-bottom: 5px;
}

#left-panel {
	margin-left: 5px;
	width: 100px;
	height: 600px;
}

#central-panel {
	margin-left: 5px;
	width: 900px;
}


/*
	padding-top: 30px;
	padding-top: 30px;


#container-mount	 {
	padding-top: 60px;
}

#activity-feed {
	height: 400px;
	overflow-y: auto;
}

#attackLog {
	height: 130px;
	overflow-y: auto;
}

#container-mount	 {
	width: 800px;
	padding-top: 60px;
}

#left-panel, #right-panel, {
	width: 260px;
}
#container	 {
		margin: 0px;
		padding: 0px;
		border-width: 0px;
	}
*/


/*
#main-grid {
	min-width: 1000px;
}



#right-panel {
	width: 280px;
	padding-top: 30px;
}



*/


