.stats-group {
	padding-left: 3px;
	padding-right: 3px;
}

.panel-heading {
	padding-top: 5px;
	padding-bottom: 5px;
}

.panel-body {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 8px;
	padding-right: 8px;
}

h6 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.table-condensed {
    margin-bottom: 5px;
}